@font-face {
    font-family: 'Agency FB';
    src: url('/font/AGENCYB.TTF');
}
@font-face {
    font-family: 'CalibriB';
    src: url('/font/calibrib.ttf');
}
@font-face{
    font-family: 'Amatic SC';
    src: url('/font/AmaticSC-Bold.ttf');
}

/*@media all and (max-width: 320px) {}
@media all and (min-width: 321px) and (max-width: 768px) {
    #item-mobile{
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    #item-action-mobile{
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
    #item-web{
        display: block;
        width:100%;
        height: auto;
    }
    #item-action-web{
        display: block;
        width:100%;
        height: auto;
    }
}
@media all and (min-width: 1025px) {}*/


body {
    position: relative;
    font-family: "Trebuchet MS";
}

.event {
    padding: 1rem 1rem 1rem 0;
    display: table; }

.event-date {
    width: 6rem;
    margin: 0 auto 1rem;
    display: table-cell;
    width: auto; }
.event-date .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center; }
.event-date .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem; }

.event-desc {
    padding: 0 0 0 1rem;
    text-align: left;
    display: table-cell;
    vertical-align: top; }
.event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0; }
.event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0; }
.event-desc .event-desc-time {
    font-weight: bold; }
.event-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }


._scroll {
    z-index: 400;
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom:1px solid lightgrey;
}
/*
._top_menu {
    height: 60px;
    padding-top: 1.5rem;
}
*/
._top_menu, ._top_menu ul, .top-bar{
    background-color:#fefefe;
}

._r_u_ready a{
    position:absolute;
    top:400px;
    z-index:1000;
    color: #ffffff;
    font-size: 2rem;
    letter-spacing: 5px;
    border: 4px solid transparent;
    background: linear-gradient(45deg, pink, skyblue);
}

._r_u_ready a:hover {
    border-image: linear-gradient(45deg, #2ecc71, dodgerblue);
    background: linear-gradient(45deg, #2ecc71, dodgerblue); }


.vision, .menu_title {
    font-family:'CalibriB';
    /*color: #000;*/
    padding-top: 100px;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu_title:hover, .vision:hover {
    color: #5e5e5e;
    text-decoration: underline;
}


@charset "UTF-8";
.hero {
    background: url("http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg") no-repeat center center;
    background-size: cover;
    height: 50vh;
    overflow: hidden; }
.hero h1, .hero h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0; }

.row {
    max-width: 1200px; }

#footer {
    background-color:#a6a6a6;
}

#footer a {
    color:white;
}

#footer > .container {

}

.profile-card {
    padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 2rem 0;
    background-color: #fff; }
.profile-card img {
    width: 8rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888; }
.profile-card .profile-info {
    padding: 1rem; }
.profile-card .profile-info h4 {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase; }
.profile-card .profile-info p {
    text-align: center; }
.profile-card .profile-info .inline-list {
    text-align: center;
    margin-bottom: 1rem; }
.profile-card .profile-info .inline-list li {
    float: none;
    display: inline-block; }
.profile-card .profile-info .inline-list i.fi-social-facebook {
    font-size: 1.5rem;
    color: #3b5998; }
.profile-card .profile-info .inline-list i.fi-social-facebook:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out; }
.profile-card .profile-info .inline-list i.fi-social-twitter {
    font-size: 1.5rem;
    color: #55acee; }
.profile-card .profile-info .inline-list i.fi-social-twitter:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out; }
.profile-card .profile-info .inline-list i.fi-social-linkedin {
    font-size: 1.5rem;
    color: #0077b5; }
.profile-card .profile-info .inline-list i.fi-social-linkedin:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out; }
.profile-card .profile-info .inline-list i.fi-social-github {
    font-size: 1.5rem;
    color: #333; }
.profile-card .profile-info .inline-list i.fi-social-github:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out; }
.profile-card .profile-info .inline-list i.fi-social-youtube {
    font-size: 1.5rem;
    color: #cc181e; }
.profile-card .profile-info .inline-list i.fi-social-youtube:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out; }


.logo {
    color: #fff;
    font-size: 1.5rem; }
.logo i {
    margin-right: 0.5rem; }


.layer-popup {display:none; position:absolute; left:50%; top:175px; z-index:10; padding:30px 30px 35px; margin-left:-235px; background-color:#fff; border:1px solid #000;}

.popup_background {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	background-color:rgba(0,0,0,0.6);
	z-index:500; }
	


/*popuptest_foundation*/
.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.left-solid {
margin-top: 0px;
margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.signup-panel a{
  color: #fff;
}

.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
.signup-panel .button {
  margin-left: 35%;
}

.newusers {
  background: #fff;
}

.reveal-modal .close {
    font-size: 1.375em;
    line-height: 1;
    position: absolute;
    top: 0.5em;
    right: 0.6875em;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
}

.remove-whitespace{
	height:90%;	
}
/*test popup end*/


.center.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.signup-panel {
    padding: 15px;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
}

.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}

.signup-panel .button {
    margin-left: 35%;
}


p.title {
    border-bottom: 1px solid #cccccc !important;
}
#menu_logo{
    max-width: 200px;
    height:auto;
    cursor: pointer;
}

/*aboutUs*/
.aboutContent{
    display: inline-block;
    text-align: center;
}

.part{
    display: inline-block;
}
/*signUpForm*/
._corearoad_content{
    text-align: center;
    width: 100%;
    height:88%;
}
.register{
    display: inline-block;
}


/*monthly*/
/* Styles for Calendar */
.calendar {
    padding-bottom: 26px;
    margin-top: 30px;
    width: 100%;
    display: block;
}
.calendar thead {
    display: none;
}
@media only screen and (min-width: 767px) {
    .calendar thead {
        text-align: center;
        display: block;
    }
}
.calendar tbody td {
    display: block;
    clear: both;
}
@media only screen and (min-width: 767px) {
    .calendar tbody td {
        display: table-cell;
        width: 150px;
        height: 150px;
        position: relative;
    }
}
.calendar tbody td span {
    position: absolute;
    top: 5px;
    left: 5px;
}
.calendar .day {
    display: block;
    float: left;
    width: 20px;
    margin-right: 10px;
}
.calendar .inactive {
    color: #ccc;
}
.calendar .event {
    float: left;
    border-radius: 3px;
    display: block;
    padding: 2px;
    font-size: 0.9em;
    cursor: pointer;
    position: relative;
    margin-top: 18px;
    margin-bottom: -12px;
}
.calendar .event.blue {
    background: #3a87ad;
}
.calendar .event.yellow {
    background: #f9c846;
}
.calendar .event.green {
    background: #a7d85b;
}

/*  ======================================
displaying for small
 ======================================*/
@media only screen and (max-width: 767px) {
    .calendar tbody td {
        width: 100% !important;
    }
    .calendar tbody td span {
        position: relative;
    }
    .calendar .event {
        float: none;
        margin-top: 5px;
        position: relative;
        margin-left: 15px;
        margin-bottom: 0;
    }
    .calendar tbody tr, .calendar tbody {
        width: 100%;
        display: block;
    }
}
@media only screen and (min-width: 767px) {
    .event {
        width: 100%;
        display: block;
    }
}


#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: none;
    background: white;
    z-index:1006;
    width:30%
}

#sidebar .content {
    margin-top: 15%;
    margin-left: 10%;
}


/*footer*/
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


/* chatting */


body{
}
.row.row-broken {
    padding-bottom: 0;
}
.col-inside-lg {
    padding: 20px;
}
.chat-users h6 {
    font-size: 20px;
    margin: 0 0 20px;
}
.chat-users .user {
    position: relative;
    padding: 0 0 0 50px;
    display: block;
    cursor: pointer;
    margin: 0 0 20px;
}
.chat-users .user .avatar{
    top: 0;
    left: 0;
}
.chat .avatar{
    width: 40px;
    height: 40px;
    position: absolute;
}
.chat .avatar img{
    display: block;
    border-radius: 20px;
    height: 100%;
    position: relative;
}

.chat_room_list img {
    width: 40px;
    height: 40px;

    border-radius: 20px;
}
.chat .avatar .status.off {
    border: 1px solid #5a5a5a;
    background: #ffffff;
}
.chat .avatar .status.online {
    background: #4caf50;
}
.chat .avatar .status.busy {
    background: #ffc107;
}
.chat .avatar .status.offline {
    background: #ed4e6e;
}
.chat-users .user .status {
    bottom: 0;
    left: 28px;
}
.chat .avatar .status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}
.chat-users .user .name {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-users .user .mood {
    font: 200 14px/20px "Raleway", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*****************CHAT BODY *******************/
.chat-body h6 {
    font-size: 20px;
    margin: 0 0 20px;
}
.chat-body .answer.left {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}
.chat-body .answer {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
}
.chat-body .answer.left .avatar {
    left: 0;
}
.chat-body .answer .avatar {
    bottom: 36px;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}
.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}
.chat-body .answer .name {
    font-size: 14px;
    line-height: 36px;
}
.chat-body .answer.left .avatar .status {
    right: 4px;
}
.chat-body .answer .avatar .status {
    bottom: 0;
}
.chat-body .answer.left .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 12px;
}
.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}
.chat-body .answer.left .time {
    padding-left: 12px;
    color: #333333;
}
.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}
/*RIGHT*/
.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}

.chat-body .answer.right .avatar {
    right: 0;
}
.chat-body .answer.right .avatar .status {
    left: 4px;
}
.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}
.chat-body .answer.right .time {
    padding-right: 12px;
    color: #333333;
}

/**************ADD FORM ***************/
.chat-body .answer-add {
    clear: both;
    position: relative;
    padding: 20px;
    background: #46be8a;
    position: fixed;
    width:100%;
    z-index: 1000;
    left: 0px;
    bottom: 0px;
}
.chat-body .answer-add input {
    border: none;
    background: none;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    color: #ffffff;
}
.chat input {
    -webkit-appearance: none;
    border-radius: 0;
}
.chat-body .answer-add .answer-btn-1 {
    background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat;
    right: 56px;
}
.chat-body .answer-add .answer-btn {
    display: block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
}
.chat-body .answer-add .answer-btn-2 {
    background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
    right: 20px;
}
.chat input::-webkit-input-placeholder {
    color: #fff;
}

.chat input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.chat input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

.chat input:-ms-input-placeholder {
    color: #fff;
}
.chat input {
    -webkit-appearance: none;
    border-radius: 0;
}

.chat_room_list {
    position: relative;
}

.chat_room_instance {
    text-align: left;
    vertical-align: middle
}

.chat_font {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10px;
}

@media (max-width: 740px) {
    #roomprofile-search {
        height: auto;
    }
    #roomprofile-search .section .search-bar {
        margin-bottom: 13px;
        width: 92.5%;
    }
    #roomprofile-search .section .search-bar input[type="text"] {
        width: auto;
        min-width: 91%;
    }
}

#roomprofile-search {
    background: #0095d5;
    padding: 33px 0 30px 0;
    font-family: "Roboto";
}

#roomprofile-search .section {
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1312px;
    box-sizing: border-box;
    text-align: center;
}

#roomprofile-search .section .search-bar {
    background: #fff;
    width: 92.5%;
    height: 40px;
    border-radius: 4px;
    padding: 8px 12px;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    text-align: left;
}

#roomprofile-search .section .search-bar input[type="text"] {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    width: 500px;
    padding: 0;
    margin: 0;
    height: 25px;
    font-size: 17px;
    font-style: italic;
    color: #e3e3e3;
    font-weight: 300;
    font-family: "Roboto";
    position: relative;
    top: 0;
    left: 0;
}

#roomprofile-search .section .search-bar .search-icon {
    position: absolute;
    right: 12px;
    top: 8px;
}

.search-icon {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    background-color: transparent;
    background-image: url(../img/add_blue.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 24px;
    height: 24px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

/*search box*/
.content_footerbar{
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    position: absolute;
    right: 0;
    z-index: 1000;
}
.column-search{
    width:100%;
    top:0;
    float:left;
    height: 44px;
    position: relative;
}

.search-bar{
    width:70%;
    box-sizing: border-box;
    display: inline-block;
}

.search-box{
    width:100%;
    padding: 5rem;
    z-index: 1000;
    text-align: center;
}

#location{
    width: 100%;
    height: 44px;
}
#startDate{
    width: 100%;
    height: 44px;
}
#endDate{
    width: 100%;
    height: 44px;
}
#hashTag{
    width: 100%;
    height: 44px;
}
#guest{
    width: 100%;
    height: 44px;
}
.search-button{
    width: 100%;
    background-color: red;
    height: 44px;
}
.search-box-input{
    font-size: 1.7rem;
}
.option{
    font-size: 1.7rem;
}
.search-button{
    font-size: 1.7rem;
}
.search-location{
    width:25%;
}
.search-date{
    width:15%;
}
.search-direction{
    width:3%;
}
.search-number{
    width:10%;
}
.search-hashTag{
    width:20%;
}
.search-button{
    width:10%;
}

/*coreaPicks search box*/

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

.content_headerbar{
    top:0;
    left:0;
    padding-top: 20px;
    padding-bottom: 10px;
    positon:absolute;
    right: 0;
}

.navbar-default {
    background: #ffffff;
}
.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .open a {
    background-image : none;
    background-color: #ffffff;
    -webkit-box-shadow: none;
}
.column-picks-search{
    width:100%;
}
.search-bar-picks{
    /*height: 44px;*/
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}
.search-box-picks{
    height: 44px;
    width: 100%;
    padding: 5rem;
    text-align: center;
}

.food_button{
    width:10%;
}
.accommodation_button{
    width:13%;
}
.activity_button{
    width:11%;
}

.coreaPicks_search_button {
    background: #E6625A;
    border:1px solid #e3e3e3;
    color: white;
    height: 50px;
    font-weight: bolder;
}

.search_field {
    width: 100%;
    height: 45px;
    background: white;
    border-bottom: 1px solid #e3e3e3;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #a6a6a6;

}

.price_field {
    border-bottom: 1px solid #a6a6a6;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 40%
}
.option{
    height: 100%;
}
.city_picks{
    height: 44px;
    width:10%;
}
.searchBox_picks{
    width:30%;
}
.button_picks{
    width:10%;
}
.btn-warning{
    width:100%
}
#city_picks{
    width:100%;
}
#search_Picks{
    height: 44px;
    width:100%;
}
#picks-search-btn{
    width:100%;
}

#picks-search-btn{
    background-color: rgba(165,121,178,1);
    line-height: 44px;
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    font-family: 'Amatic SC';
}
/*.btn_group{
    line-height: 44px;
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    font-family: 'Amatic SC';
}*/
.food_button .on{
    background-color: rgba(234, 94, 77, 1);
}
.accommodation_button .on{
    background-color: rgba(247, 201, 15, 1);
}
.activity_button .on{
    background-color: rgba(79, 172, 143, 1);
}

.on{
    background: #E6625A;
}

.off{
    background: #EEEEEE;
    color: #a6a6a6;
}

/*coreaPicks_upbutton*/
.coreaPicks_upButton{
    width: 50px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 10000;
}


/*카드부분*/
.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
    box-shadow:
            0 1px 3px rgba(0,0,0, 0.12),
            0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */
.picks_gallery {
    position: relative;
    min-height: 500px;
    display: inline-block;
    text-align: left;
}
.card {
    background-color: #e3e3e3;
    margin-bottom: 1.6rem;
    padding: 2px;
}

.card__image {
    min-height: 100px;
    background-color: #eee;
}
.card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
    max-height: 300px;
}

.card__content {
    position: relative;
}

/* card meta */
.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}

/* card article */

.card__article {
    margin-left: 15px;
}
.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}
.card__article a:hover {
    color: #2980b9;
}

/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}

.card__author {}

.card__author img,
.card__author-content {
    display: inline-block;
    vertical-align: middle;
}

.card__author img{
    border-radius: 50%;
    margin-right: 0.6em;
}

.card__share {
    right: 0;
    position: absolute;
    margin-top: -26px;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
.card__social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
    transition: transform 0.35s ease;
}

.share-toggle {
    z-index: 2;
}
.share-toggle:before {
    font-family: 'FontAwesome';
    color: #3498db;
}
.share-toggle.share-expanded:before {
    content: "\f00d";
}

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;
    background-size: contain;
    background-image: url("../img/share_icon.png");
    box-shadow:
            0 2px 4px rgba(0,0,0, 0.12),
            0 2px 4px rgba(0,0,0, 0.24);
}
.share-icon:hover,
.share-icon:focus {
    box-shadow:
            0 3px 6px rgba(0,0,0, 0.12),
            0 3px 6px rgba(0,0,0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
    background-color: #3b5998;
}
.twitter {
    background-color: #00abe3;
}
.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover {
    color: #eee;
}
/*카드부분 끝*/


/*main_text*/
.main_text_launching{
    color: white;
    font-weight: 900;
    position: relative;
}
.main_text_travel{
    position: relative;
    color: white;
    font-size: 6rem;
    font-weight: 700;
}

/*chat*/
.chat_tab .tab-content>.active {
    background: white;
}

.chat_tab .nav-tabs {
    border-bottom: none;
}

.chat_tab .nav-tabs>li.active>a, .chat_tab .nav-tabs>li.active>a:focus{border: 1px solid #ffffff; border-bottom-color: transparent}

.chat_tab {margin: 10px;}

@media (max-width: 817px){
    .column-search {display: none;}
}
@media (min-width: 817px){
    .small_size {display: none;}
}


/* bootstrap card*/
.bootsrapStype_Card {
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
    max-width: 16rem;
    margin: 1rem;
    float: left;
}

.card_block {
    padding: 1.25rem;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 90%;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    /*padding: 45px;*/
    text-align: center;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
/*    margin: 0 0 0;*/
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-top: 60px;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.text_tag .tag {
    margin-right: 2px;
    color: white;
}

.text_tag .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.text_tag .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}


/* writePicks */
#custom-search-form {
    margin:0;
    padding: 0;
    position: relative;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    right: 10px;
    top: 1.7px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
}

.category_select {
    /*width: 100%;*/
    min-width: 50px;
}

.search-query:focus + button {
    z-index: 3;

}

.title {
    width: 100%;
    background: #E6625A;
    position: relative;
    height: 50px;

}

.title input {
    background: none;
    border: none;
    color: white;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}

.search_box {
    margin: 1em;
    background: #e3e3e3;
    border: none;
    border-radius: 0.3em;
    padding: 1em;
}

.search_box_inner {
    margin: 1em;
}


/*write picks content*/
.picks_wrtie_content {
    width: 95%;
    position: relative;
    display: inline;
}

.picks_wrtie_content .title {
    width: 100%;
    background: #E6625A;
    position: relative;
    height: 50px;
    display: inline-table;
}

.picks_wrtie_content .title input {
    background: none;
    border: none;
    color: white;
    font-size: 1.8em;
    width: 80%;
    text-align: center;
    position: relative;
    float: right;
}

._corea_picks_write_thumbnail {
    width: 38%;
    position:relative;
    float: left;
}
.picks_wrtie_content .img-thumbnail {
    width: 80%;
    border:1px solid #eee;
}

.picks_wrtie_content .content_header {
    width: 95%;
    position: relative;
    display: inline-table;
}

.picks_wrtie_content ._rating_and_tags {
    position:relative;
    float: right;
    width:62%;
}

._rating_and_tags .label {
    margin: 5px;
    border-radius: 1em;
}

.picks_wrtie_content article {
    margin: 10px;
}

.picks_wrtie_content .content_menu {
    width: 95%;
    position: relative;
}

.picks_wrtie_content .content_post {
    overflow: scroll;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    font-size: 24px;
    color: #d17581;
}

/* sns */

.facebook {
    border-radius: 4px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    opacity: 1;
    width: 32px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20fill%3D%22%233B5998%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M22.08%2032V19.607h4.16l.62-4.83h-4.78v-3.083c0-1.398.388-2.352%202.393-2.352h2.56V5.02c-.443-.058-1.962-.19-3.728-.19-3.688%200-6.213%202.25-6.213%206.385v3.562h-4.17v4.83h4.17V32h4.987z%22%2F%3E%3C%2Fsvg%3E');
}

.twitter {
    border-radius: 4px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    opacity: 1;
    width: 32px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20fill%3D%22%2355ACEE%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M28%208.557c-.884.39-1.833.656-2.828.775%201.017-.608%201.798-1.573%202.166-2.725-.953.567-2.006.976-3.13%201.194-.896-.953-2.176-1.55-3.593-1.55-2.72%200-4.924%202.205-4.924%204.924%200%20.387.048.763.13%201.125-4.09-.21-7.72-2.17-10.15-5.15-.42.727-.665%201.574-.665%202.477%200%201.71.87%203.214%202.19%204.1-.806-.027-1.564-.25-2.23-.616v.06c0%202.39%201.7%204.38%203.952%204.83-.414.115-.85.174-1.297.174-.318%200-.626-.03-.928-.086.63%201.956%202.447%203.38%204.6%203.42-1.685%201.318-3.808%202.107-6.114%202.107-.398%200-.79-.023-1.175-.068%202.18%201.396%204.768%202.213%207.55%202.213%209.056%200%2014.01-7.507%2014.01-14.013%200-.213-.005-.426-.015-.637.96-.695%201.795-1.56%202.455-2.55z%22%2F%3E%3C%2Fsvg%3E')
}

.pinterest {
    border-radius: 4px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    opacity: 1;
    width: 32px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20fill%3D%22%23BD081C%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.046%2030.548l-.016-.15c-.13-1.288-.226-3.115.082-4.44.296-1.272%201.913-8.106%201.913-8.106s-.488-.977-.488-2.422c0-2.268%201.314-3.96%202.95-3.96%201.392%200%202.065%201.044%202.065%202.296%200%201.4-.89%203.492-1.35%205.43-.385%201.624.813%202.948%202.414%202.948%202.9%200%205.127-3.057%205.127-7.47%200-3.904-2.806-6.635-6.813-6.635-4.64%200-7.365%203.48-7.365%207.074%200%201.402.54%202.905%201.214%203.722.13.16.15.302.11.467-.125.515-.4%201.623-.454%201.85-.072.3-.237.362-.546.218-2.036-.947-3.31-3.925-3.31-6.32%200-5.143%203.738-9.87%2010.777-9.87%205.658%200%2010.055%204.034%2010.055%209.42%200%205.623-3.544%2010.147-8.464%2010.147-1.653%200-3.206-.86-3.738-1.873%200%200-.818%203.114-1.016%203.877-.365%201.404-1.342%203.158-2.007%204.244-.003.003-.455.833-.57%201h-.456c-.056%200-.116-1.445-.12-1.45z%22%2F%3E%3C%2Fsvg%3E')
}

/*main video*/
.content-wrapper{
     width: 100%;
     height: 630px;
     overflow: hidden;
 }

.content-main{
    positon:relative;
    padding-top: 50px;
    overflow:hidden;
}

.main-video{
    position: absolute;
    top: 50px;
    left:0;
    right: 0;
    max-height: 100%;
    max-width: inherit;
}

/*새로만든 sign up*/
.img-upload-btn {
    position: relative;
    overflow: hidden;
    padding-top: 95%;
}

.img-upload-btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-upload-btn i {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.btn-radio {
    position: relative;
    overflow: hidden;
}

.btn-radio input[type=radio] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


legend{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}
.signup-btn {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #578843);
    background-image: -moz-linear-gradient(top, #79bc64, #578843);
    background-image: -ms-linear-gradient(top, #79bc64, #578843);
    background-image: -o-linear-gradient(top, #79bc64, #578843);
    background-image: linear-gradient(to bottom, #79bc64, #578843);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
}

.signup-btn:hover {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
    background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
    background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
    background-image: -o-linear-gradient(top, #79bc64, #5e7056);
    background-image: linear-gradient(to bottom, #79bc64, #5e7056);
    text-decoration: none;
}
.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}
/*여기까지*/
